/*
*/
@import '../theme.scss';

$containerWidth:        100%;
$containerHeight:       100vh;
$navigationbarHeight:   3rem;

#mobile-main {
    height:     $containerHeight;
    width:      $containerWidth;

    @include test;

    #navigation-bar {
        @include test;
        height: $navigationbarHeight;
        width: $containerWidth;
        position: fixed;
    }

    #aboutinfo {
        margin-top: calc($navigationbarHeight + $fontsize);
        margin-bottom: $fontsize;
    }

    #content {
        height: 200px;
        @include test;
        background-color: lightgreen;
    }

}
