/*
*/

@import '../theme';
@import '../_lib/mixings';

#highfive {
    height: 100%;
    width: 100%;
    margin: auto;

    .slide1 {
        margin-top: 1rem;

        .image-state {
            margin: auto;
            max-width: 460px;
            width: 90%;
            overflow-x: hidden;
            overflow-y: hidden;

            img {
                animation: wiggle 3s infinite;
                cursor: pointer;
                object-fit: contain;
                width:  100%;
            }
            .text-state {
                text-align: center;
            }
        }

        @include desktopscreen {
            display: flex;
            min-height: 100%;
            padding: 1.5rem;
            text-align: center;

            .image-state {
                width: 45%;
            }
            .text-state {
                margin: auto;
                width: 55%;
            }
        }
    }
    /*End of SLIDE 1*/

    .transmission-state {
        padding-top: 15%;
        animation: fadeoutDelayed 3s;
        .text-state {
            h1 {
                text-align: center;
            }
        }
    }
    /*End of SLIDE 2*/

    .aboutme {
        display: flex;
        min-height: 100%;
        text-align: center;

        .aboutme-image {
            display: none;
            margin-top: 2rem;

            @include desktopscreen {
                animation: fromleftToRight 1.5s;
                display: block;
                margin-top: 0;
                width: 45%;
                overflow-x: hidden;
                overflow-y: hidden;

                img {
                    object-fit: contain;
                    width: 100%;
                }
            }
        }

        .text-state {
            animation: fromleftToRight 1.5s;
            margin: auto;
            padding-top: 2rem;
            width: 90%;

            @include desktopscreen {
                animation: fadein 2s;
                margin: auto;
                width: 55%;
            }

            p {
                font-size: 1.6rem !important;
                line-height: 2.5rem;
            }
            
        }
    }
}

@keyframes fromleftToRight {
    0% {  opacity: 0; transform: translateX(-100%); } 
    80% { opacity: 1;}
    100% { transform:  translateX(0);}
}


@keyframes fadein {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% {opacity:  1; }
}

.fadeout-anim {
    animation: fadeout 1s;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0;}
}

@keyframes fadeoutDelayed {
    0% { opacity: 0 ;}
    20% { opacity: 1;}
    80% { opacity: 1; }
    100% { opacity: 0;}
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(3deg);  }
    40% { transform: rotate(0deg);}

    70% { transform: rotate(0deg);  }
    90% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg);  }
}
