/*
*/

@import '../theme';

#PongDesignDescriptiveCard {
    align-content:      center;
    display:            flex;
    width:              auto;

    h1 {
        font-size: $fontsize-biggest;
        text-align: center;
    }
    h3 {
        font-size: $fontsize-big;
        text-align: center;
    }
    p {
        font-size: $fontsize;
        margin-left: 10%;
        margin-top: $fontsize;
        text-align: center;
        width: 80%;
    }

    .imagecontainer {
        display:            flex;
        justify-content:    center;
    }

}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction:     column;
    align-content:      center;
}
