/*
    Defines the styling for the User Interface of each UI Elements
*/
$primary-textcolor: #fff;

$fontsize:          18px;
$fontsize-big:      24px;
$fontsize-biggest:  35px;

//This includes the sliding menu
$navbar-base-brandleftmargin:   $fontsize * 3;
$navbar-base-color:             blueviolet;
$navbar-base-fontsize:          $fontsize * 1.2;
$navbar-base-itemactivecolor:   orange;
$navbar-base-itemcolor:         gray;
$navbar-base-itemdisabled:      black;
$navbar-base-itemhover:         green;
$navbar-base-itemhoverbg:       orange;
$navbar-base-menuiconcolor:     black;
$navbar-base-padding:           ($navbar-base-fontsize / 2); //a padding that has many uses.
$navbar-dropdown-bgcolor:       chocolate;
$navbar-dropdown-bghover:       blue;
$navbar-dropdown-sub-border:    red;
$navbar-dropdown-sub-colorbg:   green;
$navbar-dropdown-textcolor:     purple;
$navbar-dropdown-texthover:     white;
$navbar-dropdown-width:         auto;
$navbar-slidingdrawer-height:   100vh;
$navbar-slidingdrawer-width:    250px;
$navbar-slidingmenu-width:      32px;
$navbar-slidingmenu-height:     5px;
