/*
    Defines the styling for the User Interface of each UI Elements
*/

/*
$primary-textcolor: #f2c85e;
$secondary-textcolor: #dd8384;
$paragraph-textcolor: white;
*/
$primary-textcolor: #1F7872;
$secondary-textcolor:  #72B095; //#dd8384;
$paragraph-textcolor: white;

$fontsize:          19px;
$fontsize-big:      25px;
$fontsize-biggest:  36px;

//This includes the sliding menu
$navbar-base-brandleftmargin:   $fontsize * 3;
$navbar-base-color:             rgb(26, 41, 51);
$navbar-base-fontsize:          $fontsize;
$navbar-base-itemactivecolor:   #72B095;
$navbar-base-itemactivecolordec: underline;
$navbar-base-itemcolor:         $primary-textcolor;
$navbar-base-itemdisabled:      black;
$navbar-base-itemhover:         white;
$navbar-base-itemhoverbg:       transparent;
$navbar-base-menuiconcolor:     black;
$navbar-base-padding:           ($navbar-base-fontsize / 2); //a padding that has many uses.
$navbar-dropdown-bgcolor:       linear-gradient(to bottom right, #543272 , #734b6d);
$navbar-dropdown-bgsliding:     linear-gradient(to bottom, #1d2d38,#44738a);
$navbar-dropdown-bghover:       blue;
$navbar-dropdown-sub-border:    red;
$navbar-dropdown-sub-colorbg:   green;
$navbar-dropdown-textcolor:     purple;
$navbar-dropdown-texthover:     white;
$navbar-dropdown-width:         auto;
$navbar-slidingdrawer-height:   100vh;
$navbar-slidingdrawer-width:    100vw;
$navbar-slidingmenu-width:      32px;
$navbar-slidingmenu-height:     5px;

$descard-text-title:            #1F7872;
$descard-text-alias:            #72B095;
$descard-text-text:             white;
$descard-image-mobile:          160px;
$descard-image-tablet:          190px;
$descard-image-desktop:         240px;
$descard-image-mobile-tmar:     24px;
$descard-image-tablet-tmar:     calc($descard-image-tablet / 2.4);
$descard-image-desktop-tmar:    32px;

$column-h3:                     #1F7872;
$column-p:                      black;

$basic-card-bg:                 #44738a;
$basic-card-btn:                rgb(52, 86, 104);
$basic-card-btn-text:           black;
$basic-card-btn-hover:          orange;
$basic-card-btn-hover-text:     white;
$basic-card-img-height:         180px;
$basic-card-img-width:          212px; //4:3 ratio
$basic-card-img-height-tab:     160px; //responsive design
$basic-card-img-width-tab:      212px;
$basic-card-radius:             8px;

$fancy-button-text-color:      black;
$fancy-button-text-hover:       white;
