/*
*/

@import '../theme';
@import '../_lib/mixings';

$basic-card-btn-height:         $fontsize * 2;  
$basic-card-btn-width:          60vw;
$basic-card-btn-width-tab:      135px;

#PongDesignBasicCard {
    background-image:   linear-gradient(to bottom, #16222A,#3A6073);
    box-shadow:         3px 3px rgba($color: #000000, $alpha: 0.2);
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    //margin-bottom:      $fontsize;
    height:             100%;
    overflow-x:           hidden;

    img {
        height:         $basic-card-img-height;
        width:          100%;
    }

    .information {
        flex-direction:     column;
        align-items:        center;
        height: 50%;

        & > h3 {
            color:          $primary-textcolor;
            font-size:      $fontsize * 1.1;
            margin:         (calc($fontsize / 2)) 0;
            text-align:     center;
            font-weight:    500;
            width:          80%;
        }
    
         & > p  {
            color: white;
            font-size:      $fontsize * 0.9;
            margin:         (calc($fontsize / 2)) 0;
            padding:        0 $fontsize;
        }
    
        .tags {
            //border: 2px solid red;
            margin-left:    5%;
            width:          90%;
            height: auto;
            span {
                display:        inline-block;
                font-size:      $fontsize * 0.8;
                margin-right:   0.5rem;
                color:          $secondary-textcolor;
            }
        }

    }

    button {
        display: block;
        background-color:   $basic-card-btn;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.171);
        border: 0;
        //border:             1px solid black;
        //border-radius:      12px;
        color:              $basic-card-btn-text;
        height:             $basic-card-btn-height;
        font-size:          $fontsize * 0.8;
        margin-top:         $fontsize * 1.8;
        margin-bottom:      $fontsize;
        width:              $basic-card-btn-width;

        &:hover {
            background-color:  $basic-card-btn-hover;
            border:            0;
            color:             $basic-card-btn-hover-text;
        }

        &:active {
            background-color: rgb(121, 90, 33);
        }

        @include tabletscreen {
            width:          $basic-card-btn-width-tab;
        }
    }

}
