/*
*/

@import '../theme';
@import '../_lib/mixings';

#PongDesignDescriptiveCard {
    align-content:      center;
    display:            flex;
    width:              auto;

    h1 {
        color: $descard-text-title;
        font-size: $fontsize-biggest;
        text-align: center;
    }
    h3 {
        color: $descard-text-alias;
        font-size: $fontsize-big;
        text-align: center;
    }
    p {
        color: $descard-text-text;
        font-size: $fontsize;
        line-height: $fontsize*1.7;
        margin-left: 10%;
        margin-top: $fontsize;
        text-align: center;
        width: 80%;
    }
    img {
        width: $descard-image-mobile; height: $descard-image-mobile;
        margin-top: $descard-image-mobile-tmar;

        @include tabletscreen {
            line-height: $fontsize*1.5;
            margin-top: $descard-image-tablet-tmar;
            width: $descard-image-tablet; height: $descard-image-tablet;
        }
        @include bigscreen {
            margin-top: $descard-image-desktop-tmar;
            width: $descard-image-desktop; height: $descard-image-desktop;
        }
    }

    .imagecontainer {
        display:            flex;
        justify-content:    center;
    }

}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction:     column;
    align-content:      center;
}
