/*
*/

@import '../theme';
@import '../_lib/mixings';

$basic-card-btn-height:         $fontsize * 2;  
$basic-card-btn-width:          50vw;
$basic-card-btn-width-tab:      120px;

#PongDesignFancyButton {
    align-self: center;
    background-color:   $basic-card-btn;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.171);
    border: 0;
    color:              $fancy-button-text-color;
    height:             $basic-card-btn-height;
    font-size:          $fontsize * 0.8;
    margin-top:         $fontsize;
    margin-bottom:      $fontsize;
    width:              100%;
    -webkit-user-select:    none;
	-webkit-touch-callout:  none;
	-moz-user-select:       none;
	-ms-user-select:        none;

    &:hover {
        background-color:  $basic-card-btn-hover;
        border:            0;
        color:             $fancy-button-text-hover;
    }

    &:active {
        background-color: rgb(121, 90, 33);
    }

   
}
