/*
*/
@import './_';

$myprofilewidth:        40%;
$introductionwidth:     90vw;
$barscolumntopmargin:   12px;

$defaultbackground:     #c0b2a7;
$borderdesign-radius:      128px;
$borderdesign-radius-mobile: 96px;

#Home {
    position: relative;

    .navbar {
        height:     2.5em;
        position:   fixed;
        top:        0; left: 0;
        width:      100vw;
    }

    .introduction { 
        //background-image: linear-gradient(to right, #2193b0 , #6dd5ed);
        //background-image: linear-gradient(to bottom right, #42275a , #734b6d);
        background-image: linear-gradient(to bottom, #5e5390 , #734b6d);
        border-bottom-right-radius: $borderdesign-radius-mobile;
        display:        flex;
        flex-direction: column;
        margin-top:     2.5em;
        min-height:     70vh;
        width:          100%;

        .bgimage {
            position: absolute;
            width: inherit;
            height: 100%;
            z-index: 0;
        }

        @include tabletscreen {
            border-bottom-right-radius: $borderdesign-radius;
            margin-top:     0;
            min-height:     300px;
            flex-direction: row;
            padding: 4vh  calc((100vw - $introductionwidth) / 2) 8vh calc((100vw - $introductionwidth) / 2);
            h1 {
                margin-top: 1em;
            }      
        }
        @include desktopscreen {
            min-height:     320px;
            padding: 8vh 
            calc(((100vw - $introductionwidth) / 2) + 5vw)
            8vh
            calc(((100vw - $introductionwidth) / 2) + 5vw);
        }
        @include bigscreen {
            padding: 10vh 
            calc(((100vw - $introductionwidth) / 2) + 5vw)
            8vh
            calc(((100vw - $introductionwidth) / 2) + 5vw);
        }
    }

    .barscolumn {
        background-color: #734b6d;
        
        .container {
            background-color: $defaultbackground;
            border-top-left-radius: $borderdesign-radius-mobile;
            padding-top: $barscolumntopmargin;
            padding-left: 5%;
            padding-right: 5%;
    
            & > h3 {
                text-align: center;
                color: black;
            }
            @include tabletscreen {
                border-top-left-radius: $borderdesign-radius;
                flex-direction: row;
                padding-left: calc((100vw - $introductionwidth) / 2);
                padding-right: calc((100vw - $introductionwidth) / 2);
                h1 {
                    margin-top: 1em;
                }
                p {
                    text-align: center;
                }
            }
        }
    }

    .projects {
        
        margin-left: 2.5%;
        width: 95%;

        .item {
            background-color: #734b6d;
            border-top-left-radius: $borderdesign-radius / 2;
            border-top-right-radius: $borderdesign-radius / 2;
            height: 8em;
        }
    }

}
