/*
*/
@import './_';

$containerHeight:       100vh;
$sidebarwidth:          200px;

#Home {
    display:            flex;
    height:             $containerHeight;
    flex-direction:     row;
    flex-grow:           1; 

    .sidebar {
        display:            none;
        height:             $containerHeight;
        width:              $sidebarwidth;

        @include tabletscreen {
            display: block;
        }
    }

    .content {
        display:             flex;
        flex-direction:      column;
        flex-grow:           1;

        .navbar {
            height: 2.5em;
        }

        @include tabletscreen {
            width: calc(100% - $sidebarwidth);
        }
        
        
    }
}
