/*
*/
@import './_';

$borderdesign-radius:      128px;

#projects {
    margin-top: 5rem;
    
    #projectslist {
        display:         flex;
        flex-direction:  column;
        justify-content: space-evenly;
        width:           100vw;
        margin-bottom:   2rem;

        .projects-item {
            display:                grid;
            grid-template-columns:  1fr;
            grid-template-rows:     1fr;
            column-gap:             5%;
            row-gap:                32px;
            padding-top:            1rem;
            max-width:              1200px;
            width:                  90vw;
            align-self:             center;

            @include tabletscreen {
                grid-template-columns: 1fr 1fr;
            }

            @include desktopscreen {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}