/*
*/
@import './_';

$borderdesign-radius:      128px;

#projects {
    margin-top: 5rem;
    
    #projectslist {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left:    10vw;
        margin-top:     0vw;
        margin-bottom:  5vh;
        width:          80vw;

        .projects-item {
            display:                grid;
            grid-template-columns:  1fr;
            grid-template-rows:     1fr;
            column-gap:             5%;
            row-gap:                32px;
            padding-top:            1rem;

            @include tabletscreen {
                grid-template-columns: 1fr 1fr;
            }

            @include desktopscreen {
                grid-template-columns: 1fr 1fr 1fr;
                max-width: 1000px;
                align-self: center;
            }
        }
    }
}