/*
*/

@import '../theme';

#PongDesignColumns {
    h3 {
        color: $column-h3;
        margin-bottom: $fontsize * 0.5;
    }
    p {
        color: $column-p;
        padding-left: $fontsize;
        padding-right: $fontsize;
    }
    h3, p {
        text-align: center;
        font-size: $fontsize;
    }
}

.magic {
    p {
        opacity: 0.2;
    }
    p:hover {
        opacity: 1;
        color: white;
    }
    &:hover {
        background-color: $basic-card-bg;
    }
}

.singular {
    display: flex;
    flex-direction: column;
    margin: $fontsize 0;
    h3, p {
        text-align: left;
        font-size: $fontsize;
    }
    p {
        margin-bottom: $fontsize;
    }
}

.column2, .column3, .column4 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 0 $fontsize;
   div {
    margin-bottom: $fontsize;
   }
}

.column2 {
    grid-template-columns: 1fr 1fr;
 }

.column3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.column4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.column6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
