/*
*/

@import '../theme';
@import '../_lib/mixings';

form {
    //border: 1px solid red;

    div {
        //border: 1px solid blue;
        margin-bottom: 1rem;

        label {
            padding-bottom: 0.5rem;
        }

        input {
            background-color: transparent;
            border: 2px solid #284255;
            border-radius: 1rem;
            width: 100%;
        }

        textarea {
            background-color: transparent;
            border: 2px solid #284255;
            border-radius: 1rem;
            width: 100%;
            min-height: 10rem;
        }
    }

    button {
        width: 100%;
    }
}
