/*
*/

@import '../theme';
@import '../_lib/mixings';

#PongDesignDescriptiveCard {
    cursor:             default;
    align-content:      center;
    display:            flex;
    flex-direction:     column;
    justify-content:    space-between;
    width:              100%;

    @include desktopscreen {
        flex-direction:     row;
    }
}


